In [1]:
import pandas as pd

# Aggregation function 
reduces a set of values into a single summary value. 
## used to summarize and anaylze data
often used with the groupby() function

In [2]:
df = pd.read_csv(r"C:\Users\Ryuk\Jupyter\Notes\importing\pokemon-150.csv")
print(df)

      No        Name    Type1   Type2  Height  Weight  Legendary
0      1   Bulbasaur    Grass  Poison     0.7     6.9          0
1      2     Ivysaur    Grass  Poison     1.0    13.0          0
2      3    Venusaur    Grass  Poison     2.0   100.0          0
3      4  Charmander     Fire     NaN     0.6     8.5          0
4      5  Charmeleon     Fire     NaN     1.1    19.0          0
..   ...         ...      ...     ...     ...     ...        ...
145  146     Moltres     Fire  Flying     2.0    60.0          1
146  147     Dratini   Dragon     NaN     1.8     3.3          0
147  148   Dragonair   Dragon     NaN     4.0    16.5          0
148  149   Dragonite   Dragon  Flying     2.2   210.0          0
149  150      Mewtwo  Psychic     NaN     2.0   122.0          1

[150 rows x 7 columns]

## to find mean of the numeric columns we can do the following:
using mean aggregate functions (only for numeric and for that alphabets we can pass an argument)

In [3]:
print(df.mean(numeric_only=True)) #mean

No           75.500000
Height        1.200000
Weight       46.231333
Legendary     0.026667
dtype: float64

In [4]:
print(df.sum(numeric_only=True)) #sum/addition

No           11325.0
Height         180.0
Weight        6934.7
Legendary        4.0
dtype: float64

In [5]:
print(df.min(numeric_only=True)) #minimum

No           1.0
Height       0.2
Weight       0.1
Legendary    0.0
dtype: float64

In [6]:
print(df.max(numeric_only=True)) #maximum

No           150.0
Height         8.8
Weight       460.0
Legendary      1.0
dtype: float64

In [7]:
print(df.count()) #counting

No           150
Name         150
Type1        150
Type2         67
Height       150
Weight       150
Legendary    150
dtype: int64

## count won't include any null values thats why Type2 is 67 as many pokemons don't have a type2
These aggregate functions apply to the whole dataframe

# For a single column

In [8]:
print(df["Height"].mean())

1.2

In [9]:
print(df["Height"].sum())

180.0

In [10]:
print(df["Height"].min())

0.2

In [11]:
print(df["Height"].max())

8.8

In [12]:
print(df["Height"].count())

150

# Groupby() --> a function
In pandas, groupby is a powerful method used to split data into groups, apply operations on each group, and then combine the results.

Think of it as:

Split → Apply → Combine

In [13]:
group = df.groupby("Type1")
# group is an object hence when you apply an aggrgate function to the group object it will return a series for you to work with.
print(group["Height"].mean())

Type1
Bug         0.900000
Dragon      2.666667
Electric    0.855556
Fairy       0.950000
Fighting    1.185714
Fire        1.216667
Ghost       1.466667
Grass       1.083333
Ground      0.850000
Ice         1.550000
Normal      0.986364
Poison      1.221429
Psychic     1.371429
Rock        1.844444
Water       1.300000
Name: Height, dtype: float64

In [14]:
print(group["Height"].sum())

Type1
Bug         10.8
Dragon       8.0
Electric     7.7
Fairy        1.9
Fighting     8.3
Fire        14.6
Ghost        4.4
Grass       13.0
Ground       6.8
Ice          3.1
Normal      21.7
Poison      17.1
Psychic      9.6
Rock        16.6
Water       36.4
Name: Height, dtype: float64

In [15]:
print(group["Height"].min())

Type1
Bug         0.3
Dragon      1.8
Electric    0.3
Fairy       0.6
Fighting    0.5
Fire        0.6
Ghost       1.3
Grass       0.4
Ground      0.2
Ice         1.4
Normal      0.3
Poison      0.4
Psychic     0.9
Rock        0.4
Water       0.3
Name: Height, dtype: float64

In [16]:
print(group["Height"].max())

Type1
Bug         1.5
Dragon      4.0
Electric    1.6
Fairy       1.3
Fighting    1.6
Fire        2.0
Ghost       1.6
Grass       2.0
Ground      1.9
Ice         1.7
Normal      2.2
Poison      3.5
Psychic     2.0
Rock        8.8
Water       6.5
Name: Height, dtype: float64

In [17]:
print(group["Height"].count())

Type1
Bug         12
Dragon       3
Electric     9
Fairy        2
Fighting     7
Fire        12
Ghost        3
Grass       12
Ground       8
Ice          2
Normal      22
Poison      14
Psychic      7
Rock         9
Water       28
Name: Height, dtype: int64