In [1]:
import pandas as pd

# DATAFRAMES
A Tabular Data Structure with rows and columns. Unlike series a Dataframe is 2-Dimensional.
Think of it like an excel spreadsheet.
A dataframe can be created as by dataframe constructer available in pandas.

In [2]:
dict = {
    "Name":["Ansh","Ayush","Aryan","Shivam"],
    "Age":[20,19,20,21]
}
df = pd.DataFrame(dict)
print(df)

     Name  Age
0    Ansh   20
1   Ayush   19
2   Aryan   20
3  Shivam   21

# Custom Labels
similar to series, DataFrame's default index value (i.e 0,1,2,3---so on) can be replaced by custom labels or indexes.

In [3]:
df = pd.DataFrame(dict, index=["Employee-1","Employee-2","Employee-3","Employee-4"])
print(df)

              Name  Age
Employee-1    Ansh   20
Employee-2   Ayush   19
Employee-3   Aryan   20
Employee-4  Shivam   21

# Loc Property
## Loc stands for location by label
Again similar to series loc can help us locate a specific data/value at a specific location

In [4]:
print(df.loc["Employee-2"])

Name    Ayush
Age        19
Name: Employee-2, dtype: object

# iloc property
## gives location of the desired value by the index integer.
0 --> First Row

1 --> Second Row 

2 --> Third Row

3 --> Fourth Row

In [5]:
print(df.iloc[0])

Name    Ansh
Age       20
Name: Employee-1, dtype: object

In [6]:
print(df.iloc[2])

Name    Aryan
Age        20
Name: Employee-3, dtype: object

# Adding a new Column to the DataFrame

In [7]:
df["Lang"]=["Python/Go","Javascript","Java+CSS","Java(springboot)"]
df["Role"]=["Data_Scientist","Backend_Dev","UI/UX","Full-Stack_dev"]
print(df)

              Name  Age              Lang            Role
Employee-1    Ansh   20         Python/Go  Data_Scientist
Employee-2   Ayush   19        Javascript     Backend_Dev
Employee-3   Aryan   20          Java+CSS           UI/UX
Employee-4  Shivam   21  Java(springboot)  Full-Stack_dev

# Adding a new Row to the DataFrame

In [8]:
new_row1 = pd.DataFrame({"Name":"Unnati", "Age":18, "Lang":"Python/R", "Role":"Physicist"},
                        index=["Employee-5"])
df = pd.concat([df, new_row1]) #concatenation used instead of append because append is dated.
print(df)

              Name  Age              Lang            Role
Employee-1    Ansh   20         Python/Go  Data_Scientist
Employee-2   Ayush   19        Javascript     Backend_Dev
Employee-3   Aryan   20          Java+CSS           UI/UX
Employee-4  Shivam   21  Java(springboot)  Full-Stack_dev
Employee-5  Unnati   18          Python/R       Physicist

In [9]:
#Mutiple rows at once can be created as
new_rows= pd.DataFrame([{"Name":"Ashutosh", "Age":19, "Lang":"Rust/Python", "Role":"Cyber-security"},
                        {"Name":"Aditi", "Age":18, "Lang":"N/A", "Role":"HR"}],
                       index=["Employee-6","Employee-7"])
df=pd.concat([df, new_rows])
print(df)

                Name  Age              Lang            Role
Employee-1      Ansh   20         Python/Go  Data_Scientist
Employee-2     Ayush   19        Javascript     Backend_Dev
Employee-3     Aryan   20          Java+CSS           UI/UX
Employee-4    Shivam   21  Java(springboot)  Full-Stack_dev
Employee-5    Unnati   18          Python/R       Physicist
Employee-6  Ashutosh   19       Rust/Python  Cyber-security
Employee-7     Aditi   18               N/A              HR