In [1]:
import pandas as pd

# SELECTION
In pandas, selection means choosing specific rows, columns, or parts of a DataFrame.
It is one of the most important skills when working with data.

In [2]:
df = pd.read_csv(r"C:\Users\Ryuk\Jupyter\Notes\importing\pokemon-150.csv")
print(df)

      No        Name    Type1   Type2  Height  Weight  Legendary
0      1   Bulbasaur    Grass  Poison     0.7     6.9          0
1      2     Ivysaur    Grass  Poison     1.0    13.0          0
2      3    Venusaur    Grass  Poison     2.0   100.0          0
3      4  Charmander     Fire     NaN     0.6     8.5          0
4      5  Charmeleon     Fire     NaN     1.1    19.0          0
..   ...         ...      ...     ...     ...     ...        ...
145  146     Moltres     Fire  Flying     2.0    60.0          1
146  147     Dratini   Dragon     NaN     1.8     3.3          0
147  148   Dragonair   Dragon     NaN     4.0    16.5          0
148  149   Dragonite   Dragon  Flying     2.2   210.0          0
149  150      Mewtwo  Psychic     NaN     2.0   122.0          1

[150 rows x 7 columns]

## here we are only selecting the name column to be displayed. fun fact here our output is actually a lot of series
in order to print the entire column instead of first five and last five (trunkated Version) we can use string as such:

In [3]:
print(df["Name"])

0       Bulbasaur
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
          ...
145       Moltres
146       Dratini
147     Dragonair
148     Dragonite
149        Mewtwo
Name: Name, Length: 150, dtype: object

In [4]:
print(df["Name"].to_string())

0       Bulbasaur
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
5       Charizard
6        Squirtle
7       Wartortle
8       Blastoise
9        Caterpie
10        Metapod
11     Butterfree
12         Weedle
13         Kakuna
14       Beedrill
15         Pidgey
16      Pidgeotto
17        Pidgeot
18        Rattata
19       Raticate
20        Spearow
21         Fearow
22          Ekans
23          Arbok
24        Pikachu
25         Raichu
26      Sandshrew
27      Sandslash
28       Nidoran♀
29       Nidorina
30      Nidoqueen
31       Nidoran♂
32       Nidorino
33       Nidoking
34       Clefairy
35       Clefable
36         Vulpix
37      Ninetales
38     Jigglypuff
39     Wigglytuff
40          Zubat
41         Golbat
42         Oddish
43          Gloom
44      Vileplume
45          Paras
46       Parasect
47        Venonat
48       Venomoth
49        Diglett
50        Dugtrio
51         Meowth
52        Persian
53        Psyduck
54        Golduck
55         Mankey
56       Primeape
57      Growlithe
58       Arcanine
59        Poliwag
60      Poliwhirl
61      Poliwrath
62           Abra
63        Kadabra
64       Alakazam
65         Machop
66        Machoke
67        Machamp
68     Bellsprout
69     Weepinbell
70     Victreebel
71      Tentacool
72     Tentacruel
73        Geodude
74       Graveler
75          Golem
76         Ponyta
77       Rapidash
78       Slowpoke
79        Slowbro
80      Magnemite
81       Magneton
82     Farfetch'd
83          Doduo
84         Dodrio
85           Seel
86        Dewgong
87         Grimer
88            Muk
89       Shellder
90       Cloyster
91         Gastly
92        Haunter
93         Gengar
94           Onix
95        Drowzee
96          Hypno
97         Krabby
98        Kingler
99        Voltorb
100     Electrode
101     Exeggcute
102     Exeggutor
103        Cubone
104       Marowak
105     Hitmonlee
106    Hitmonchan
107     Lickitung
108       Koffing
109       Weezing
110       Rhyhorn
111        Rhydon
112       Chansey
113       Tangela
114    Kangaskhan
115        Horsea
116        Seadra
117       Goldeen
118       Seaking
119        Staryu
120       Starmie
121      Mr. Mime
122       Scyther
123          Jynx
124    Electabuzz
125        Magmar
126        Pinsir
127        Tauros
128      Magikarp
129      Gyarados
130        Lapras
131         Ditto
132         Eevee
133      Vaporeon
134       Jolteon
135       Flareon
136       Porygon
137       Omanyte
138       Omastar
139        Kabuto
140      Kabutops
141    Aerodactyl
142       Snorlax
143      Articuno
144        Zapdos
145       Moltres
146       Dratini
147     Dragonair
148     Dragonite
149        Mewtwo

## Entire column of Names is printed

In [5]:
print(df["Height"].to_string())

0      0.7
1      1.0
2      2.0
3      0.6
4      1.1
5      1.7
6      0.5
7      1.0
8      1.6
9      0.3
10     0.7
11     1.1
12     0.3
13     0.6
14     1.0
15     0.3
16     1.1
17     1.5
18     0.3
19     0.7
20     0.3
21     1.2
22     2.0
23     3.5
24     0.4
25     0.8
26     0.6
27     1.0
28     0.4
29     0.8
30     1.3
31     0.5
32     0.9
33     1.4
34     0.6
35     1.3
36     0.6
37     1.1
38     0.5
39     1.0
40     0.8
41     1.6
42     0.5
43     0.8
44     1.2
45     0.3
46     1.0
47     1.0
48     1.5
49     0.2
50     0.7
51     0.4
52     1.0
53     0.8
54     1.7
55     0.5
56     1.0
57     0.7
58     1.9
59     0.6
60     1.0
61     1.3
62     0.9
63     1.3
64     1.5
65     0.8
66     1.5
67     1.6
68     0.7
69     1.0
70     1.7
71     0.9
72     1.6
73     0.4
74     1.0
75     1.4
76     1.0
77     1.7
78     1.2
79     1.6
80     0.3
81     1.0
82     0.8
83     1.4
84     1.8
85     1.1
86     1.7
87     0.9
88     1.2
89     0.3
90     1.5
91     1.3
92     1.6
93     1.5
94     8.8
95     1.0
96     1.6
97     0.4
98     1.3
99     0.5
100    1.2
101    0.4
102    2.0
103    0.4
104    1.0
105    1.5
106    1.4
107    1.2
108    0.6
109    1.2
110    1.0
111    1.9
112    1.1
113    1.0
114    2.2
115    0.4
116    1.2
117    0.6
118    1.3
119    0.8
120    1.1
121    1.3
122    1.5
123    1.4
124    1.1
125    1.3
126    1.5
127    1.4
128    0.9
129    6.5
130    2.5
131    0.3
132    0.3
133    1.0
134    0.8
135    0.9
136    0.8
137    0.4
138    1.0
139    0.5
140    1.3
141    1.8
142    2.1
143    1.7
144    1.6
145    2.0
146    1.8
147    4.0
148    2.2
149    2.0

## All the heights of the Pokemons in meter
Now we can try to output mutiple specified columns at once

In [6]:
print(df[["Name", "Height", "Weight"]])

           Name  Height  Weight
0     Bulbasaur     0.7     6.9
1       Ivysaur     1.0    13.0
2      Venusaur     2.0   100.0
3    Charmander     0.6     8.5
4    Charmeleon     1.1    19.0
..          ...     ...     ...
145     Moltres     2.0    60.0
146     Dratini     1.8     3.3
147   Dragonair     4.0    16.5
148   Dragonite     2.2   210.0
149      Mewtwo     2.0   122.0

[150 rows x 3 columns]

## That was selection by columns now we can try selection by rows

In [7]:
print(df)

      No        Name    Type1   Type2  Height  Weight  Legendary
0      1   Bulbasaur    Grass  Poison     0.7     6.9          0
1      2     Ivysaur    Grass  Poison     1.0    13.0          0
2      3    Venusaur    Grass  Poison     2.0   100.0          0
3      4  Charmander     Fire     NaN     0.6     8.5          0
4      5  Charmeleon     Fire     NaN     1.1    19.0          0
..   ...         ...      ...     ...     ...     ...        ...
145  146     Moltres     Fire  Flying     2.0    60.0          1
146  147     Dratini   Dragon     NaN     1.8     3.3          0
147  148   Dragonair   Dragon     NaN     4.0    16.5          0
148  149   Dragonite   Dragon  Flying     2.2   210.0          0
149  150      Mewtwo  Psychic     NaN     2.0   122.0          1

[150 rows x 7 columns]

Each of these rows has a label and the default behavior for pandas is to give each row a number for a label starting with 0. (ascending order)
# loc
## we can loc property to print the row itself

In [8]:
print(df.loc[78])

No                 79
Name         Slowpoke
Type1           Water
Type2         Psychic
Height            1.2
Weight           36.0
Legendary           0
Name: 78, dtype: object

In [9]:
df = pd.read_csv(r"C:\Users\Ryuk\Jupyter\Notes\importing\pokemon-150.csv", index_col="Name")
print(df)

             No    Type1   Type2  Height  Weight  Legendary
Name
Bulbasaur     1    Grass  Poison     0.7     6.9          0
Ivysaur       2    Grass  Poison     1.0    13.0          0
Venusaur      3    Grass  Poison     2.0   100.0          0
Charmander    4     Fire     NaN     0.6     8.5          0
Charmeleon    5     Fire     NaN     1.1    19.0          0
...         ...      ...     ...     ...     ...        ...
Moltres     146     Fire  Flying     2.0    60.0          1
Dratini     147   Dragon     NaN     1.8     3.3          0
Dragonair   148   Dragon     NaN     4.0    16.5          0
Dragonite   149   Dragon  Flying     2.2   210.0          0
Mewtwo      150  Psychic     NaN     2.0   122.0          1

[150 rows x 6 columns]

by using a paramter of index_col we have made the data easier to access as you probably wont remember the exact integer index of the pokemon but can easily remember the name itself

In [10]:
print(df.loc["Pikachu"])

No                 25
Type1        Electric
Type2             NaN
Height            0.4
Weight            6.0
Legendary           0
Name: Pikachu, dtype: object

In [12]:
print(df.loc["Charizard"])

No                6
Type1          Fire
Type2        Flying
Height          1.7
Weight         90.5
Legendary         0
Name: Charizard, dtype: object

## we also pass an argument to select only the columns and range of rows we would like to.....

In [17]:
print(df.loc["Mewtwo",["Height","Weight"]])

Height      2.0
Weight    122.0
Name: Mewtwo, dtype: object

In [23]:
print(df.loc["Charmander":"Kakuna",["Height","Weight"]].to_string())

            Height  Weight
Name
Charmander     0.6     8.5
Charmeleon     1.1    19.0
Charizard      1.7    90.5
Squirtle       0.5     9.0
Wartortle      1.0    22.5
Blastoise      1.6    85.5
Caterpie       0.3     2.9
Metapod        0.7     9.9
Butterfree     1.1    32.0
Weedle         0.3     3.2
Kakuna         0.6    10.0

## Integer Based indexing --> iloc property

In [24]:
print(df.iloc[0:11])

            No  Type1   Type2  Height  Weight  Legendary
Name
Bulbasaur    1  Grass  Poison     0.7     6.9          0
Ivysaur      2  Grass  Poison     1.0    13.0          0
Venusaur     3  Grass  Poison     2.0   100.0          0
Charmander   4   Fire     NaN     0.6     8.5          0
Charmeleon   5   Fire     NaN     1.1    19.0          0
Charizard    6   Fire  Flying     1.7    90.5          0
Squirtle     7  Water     NaN     0.5     9.0          0
Wartortle    8  Water     NaN     1.0    22.5          0
Blastoise    9  Water     NaN     1.6    85.5          0
Caterpie    10    Bug     NaN     0.3     2.9          0
Metapod     11    Bug     NaN     0.7     9.9          0

# Exercise-1

In [29]:
pokemon = input("Enter a Pokemon name:")
try:
    print(df.loc[pokemon])
except KeyError:
    print(f"{pokemon}not found")

Enter a Pokemon name: Snorlax

No              143
Type1        Normal
Type2           NaN
Height          2.1
Weight        460.0
Legendary         0
Name: Snorlax, dtype: object

## END