# Pandas -- Python Library for all things data

In [3]:
import pandas as pd

# Series
A single(1) dimensional array which can hold data of any type. Think of it like a single column in a spreadsheet.

In [6]:
data = [100, 103, 102, 104]
series = pd.Series(data)
print(series)

0    100
1    103
2    102
3    104
dtype: int64

# Labels in a series
Labels or index in a series can be easily altred by using simple modification in the above Series converter provided by pandas library itself.

In [9]:
data1 = [1,2,3,5]
series1 = pd.Series(data,index=["apartment-1","apartment-2","apartment-3","apartment-4"])
print(series1)

apartment-1    100
apartment-2    103
apartment-3    102
apartment-4    104
dtype: int64

# loc
loc can be used within a print function to return a specific value at a specific location.
The value at a specifc index can also be changed by loc.

In [14]:
print(series1.loc["apartment-3"]) #return the value where index or label is "apartment-3
series1.loc["apartment-1"]=110
print(series1)

102
apartment-1    110
apartment-2    103
apartment-3    102
apartment-4    104
dtype: int64

# iloc
we can also locate a value via the integer value i.e 0-first one, 1-second and so on.
iloc is the tool for that.

In [16]:
print(series1)
print(series1.iloc[0])
print(series1.iloc[2])

apartment-1    110
apartment-2    103
apartment-3    102
apartment-4    104
dtype: int64
110
102

# Series using Dictionary Data Structure
series can be represented by dictionaries too. here we dont need to specify the index as the key values in our dictionaries act as the index or labels for the data in the series.

In [17]:
calories = {"day-1":1900, "day-2":2100, "day-3":1800}
series2 = pd.Series(calories)
print(series2)

day-1    1900
day-2    2100
day-3    1800
dtype: int64

other operations like loc and iloc can be similarly used on dictionary along with increasing, decreasing or filtering the data depending upon the programmers need.

In [24]:
series2.loc["day-2"] -= 300
series2.loc["day-1"] += 100
series2.loc["day-3"] +=500
print("day(s) with calories more than 2000 is:")
print(series2[series2>=2000])
print("day(s) wih Calories less than 2000 is :")
print(series2[series2<=2000])

day(s) with calories more than 2000 is:
day-1    2400
day-3    3300
dtype: int64
day(s) wih Calories less than 2000 is :
day-2    600
dtype: int64